* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #667eea, #764ba2);
  color: #111;
}
header {
  background-color: #7fb7f0;
  color: white;
  padding: 15px 40px;   /* FIXED typo */

  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  font-size: 22px;
  margin-left: 20px;
}
h2{
  margin-left: 10px;
}
header p {
  font-size: 14px;
  opacity: 0.9;
  margin-left: 20px;
}

nav {
  display: flex;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}

nav a i {
  margin-right: 6px;
}

nav a:hover {
  text-decoration: underline;
}

.home {
  min-height: calc(100vh - 140px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 80px;
  gap: 60px;
}

.home-text {
  max-width: 500px;
  color: #000;
}

.home-text h2 {
  font-size: 32px;
  margin-bottom: 15px;
}

.home-text p {
  font-size: 16px;
  margin-bottom: 20px;
}

.edu-card {
  background: #bec3ec;
  padding: 25px;
  margin-bottom: 25px;
  margin: 80px;
  border-radius: 18px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.edu-card h3 {
  margin-bottom: 10px;
}


.resume-btn {
  background-color: rgb(104, 174, 236);
  text-decoration: none;
  color: #05080e;
  font-weight: bold;
  border-radius: 55px;
  padding:10px 22px;
  box-shadow: 0 0 15px #2bc496;
}

.home-profile {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  overflow: hidden;             
  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
  background: #f1f1f1;
}


.profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;            
  border-radius: 50%;
}


.container {
  animation: fadeUp 0.8s ease-in;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 900px) {
  header {
    flex-direction: column;
    gap: 10px;
  }

  .home {
    flex-direction: column-reverse;
    text-align: center;
  }

  .home-profile {
    margin-bottom: 30px;
  }
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 40px;

}
.card {
  background: #dadaec;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  margin-left: 20px;
  margin-right:20px ;
}
.btn-outline {
  border: 1px solid #bfa7ff;
  padding: 10px 22px;
  border-radius: 25px;
  color: #bfa7ff;
  text-decoration: none;
}
.btn {
  padding: 8px 15px;
  background: #3d7cbb;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-size: 14px;
  margin-left: 90px;
}

.cert-img{
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}
.cert-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 80px;
}

.cert-card {
  background: #bec3ec;
  padding: 20px;
  border-radius: 18px;
  text-align: center;
  margin-left: 60px;
  margin-right: 60px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.15);
}

.cert-buttons {
  display:flex;
  gap: 40px;
}

.btn.outline {
  background: transparent;
  border: 2px solid #3d7cbb;
  color: #3d7cbb;
}
.pro-card{
  background-color: #bec3ec;
  padding: 10px;
  border-radius: 18px;
  margin: 30px;

}
.contact-card{
    background: #e8eafc;
  margin-top: 50px;
  margin-left: 350px;
  margin-right: 350px;
  padding:50px ;
  border-radius: 28px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);

}
.contact-card h2 {
  text-align: center;

  margin-bottom: 20px;
}

.contact-card p{
  font-size: 20px;
}
.contact-card i {
  margin-right: 10px;
  color: #3d7cbb;
}

.contact-card form label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

.contact-card form input,
.contact-card form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.contact-card form button {
  margin-top: 20px;
  padding: 12px;
  width: 100%;
  background: #3d7cbb;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

footer {
  background-color: #54b7df;
  color: white;
  text-align: center;
  padding: 12px;
  bottom: 0;
  position: fixed;
width: 100%;
}
 